@{
    ViewBag.Title = "Home Page";
}
<head>
@Styles.Render("~/content/css/site.css")
    </head>




    <div id="home">
        <div id="home-content">
        <h1>Welcome to Reach and Report
          <br />
        </h1>
        <h2>Emergency Management Agency of Allegheny County
        </h2>
        <br />
        <h3>Reach and Report is a way for Allegheny County's Emergency
            Management Agency to streamline their distaster reporting process, which in turn leads to
            quicker recovery for areas affected by natural disasters.
        </h3>
            </div>
    </div>
@*<div id="banner">
      <img src="~/Content/img/service-banner.jpg" alt="Disaster">
    </div>*@

