
@{
    ViewBag.Title = "Begin a Claim";
}

    @Styles.Render("~/Content/css/StartClaim.css")



    <div class="panel panel-success">
        <div for="home-choice" class="panel-heading"><h2>Begin Your Claim</h2></div>

        <div id="links" class="panel-body">
            <h3>Which kind of claim would you like to begin?</h3>
            <a href="/IndividualWorksheet/Create" class="btn btn-primary btn-lg">Individual</a>
            <a href="/SBAWorksheet/Create" class="btn btn-info btn-lg pull-right">SBA</a>

        </div>
    </div>


